<header class="menu">
    <nav class="menu__content">
        <ul>
            <li>
                <a href="#home">HOME</a>
            </li>
            <li>
                <a href="#about">NÓS</a>
            </li>
            <li>
                <a href="#projects">PROJETOS</a>
            </li>
            <li>
                <a href="#projects">ORÇAMENTO</a>
            </li>
            <li>
                <a href="#projects">CONTATO</a>
            </li>
        </ul>
    </nav>
</header>

<section class="home layer" data-depth="0.4" id="home">
    <div id="particles-js"></div>
    <div class="bg bg-blur">
        <!--background-->
    </div>
    <img class="home__logo logo-blur" src="./img/h-logo.png" />
    <div class="home__description">
        <h1>Somos devs apaixodados por inovação e tecnologia</h1>
        <p>Mestre JEDI nas horas vagas</p>
    </div>
</section>